{{define "edit_siswa"}} {{/* INI BAGIAN YANG MENENTUKAN NAMA TEMPLATE*/}}
<!DOCTYPE html>
<html>
  <head>
    {{template "bagian_head"}} {{/* include bagian head */}}
  </head>
  <body>
    {{template "bagian_header"}} {{/* include bagian header */}}
    
    <form action="/siswa/edit" method="POST">
    <h1>Edit Siswa</h1>
    <input type="hidden" name="id_siswa" value="{{ .DataSiswa.Id }}" />
    <table>
      <tr>
        <td>Nama</td>
        <td><input type="text" name="nama" value="{{ .DataSiswa.Nama }}" /></td>
      </tr>
      <tr>
        <td>Kelas</td>
        <td><input type="text" name="kelas" value="{{ .DataSiswa.Kelas }}" /></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Simpan</button>
        </td>
      </tr>
    </table>
    </form>
    
    {{template "bagian_footer"}} {{/* include bagian footer */}}
    <script src="assets/index.js"></script>
  </body>
</html>
{{end}}
